<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/myStyle.css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/73b8983b5f.js" crossorigin="anonymous"></script>    @RenderSection("scripts", required: false)
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-black">
        <div class="container">
            @Html.ActionLink("TIMELESS", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", new { controller = "Home" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Watches", "Watches", new { controller = "Home" }, htmlAttributes: new { @class = "nav-link" })</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">@Html.ActionLink("Admin", "Index", new { controller = "Admin" }, htmlAttributes: new { @class = "nav-link" })</li>
                    }
                    @Html.Partial("_LoginPartial")
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-shopping-cart fa-2x"></i>
                        </a>
                    </li>
                    @{
                        Html.RenderAction("CartSummary", "Cart");
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="card-footer">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>